<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherAppUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52EB68FB1D45E6540050D733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EB69141D45E6540050D733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52EB691F1D45E6540050D733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
