<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppLocalizationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52F025061D000892008CAD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F0251F1D000892008CAD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F0252A1D000892008CAD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
